
h1{
	font-size: 30px;
	margin-left: 100px;
}
.barra{
	position: fixed;
	left: 0;
	top: 300px;
	z-index: 3000;
}
.barra ul{
	list-style: none;

}
.ul a{
	display: block;

}
.barra #ul li a i:hover{
	font-size: 45px;
		-moz-transform: scale(1) rotate(2deg) translateX(2px) translateY(3px);
-webkit-transform: scale(1) rotate(2deg) translateX(2px) translateY(3px);
-o-transform: scale(1) rotate(2deg) translateX(2px) translateY(3px);
-ms-transform: scale(1) rotate(2deg) translateX(2px) translateY(3px);
transform: scale(1) rotate(2deg) translateX(2px) translateY(3px);
}








.fac{
	background-color:#1C64B3; 
	color: #FFFFFF;
	font-size: 24px;
	padding: 15px 20px;
	border-radius: 50%;
	margin: 5px;

}
.twi{
	background-color: #4FB4C8;
	color: white;
	padding: 12px;
	font-size: 30px;
	border-radius: 50%;
	margin: 5px;
}
.pin{
	background-color: red;
	color: white;
	padding: 12px 15px;
	font-size: 30px;
	border-radius: 50%;
	margin: 5px;
}
.goog{
	background-color: red;
	color: white;
	padding: 18px 16px;
	font-size: 20px;
	border-radius: 50%;
	margin: 5px;
}
.enve{
	background-color: #ACACAC;
	color: black;
	padding: 15px;
	font-size: 30px;
	border-radius: 50%;
	margin: 5px;
}
.fixed{
	position: fixed;
	left: 0;
	top: 300px;
	z-index: 2000;


}

body{
	background-color: #E1E0E0;
}
.container{
	margin: 0 auto;
	padding: 10px;
	max-width: 3000px;

	height: 50%;
	background-color: white;
}
input{
	padding: 20px 100px 0px 10px;
	border-radius: 5px;

}

img:hover{
	background: blue;
	color: white;
	
	-moz-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
-webkit-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
-o-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
-ms-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
}
.container2{
	max-width:1340px;
	width: 100%;
	margin: 10px auto;
	background-color: #E1E0E0;
}

em{
	color: #555555;
	font-size: 15px;

}
.campos{
		color:#9B9797;
}
@media only screen and (max-width: 1100px){
	body {
		background-color: #22D01D;
	}
}
.container1{
    padding:0px ; 
	width: 100%;

	
}
.primero{
	list-style: none;
}

.numero1{
	color: red;

}
.separar{
	float:left;
	text-decoration: none;
}


.datos{
	border: 1px;
	color: red;
}

.a1{
	color: black;
}
.log{
	width: 80%;
}
.logo{

width: 120px;
margin-left:20%;
}


.p1{

	
	font-size: 20px;

	border-bottom: dotted 2px ;


}
.letra{
	font-size: 50px;
	padding: 0px 320px

}



.contratar{
	color: white;
	width: 100px;
	height:  35px;
	background-color: red;
	text-align: center;
	font-size: 20px;


}
fieldset{
	border-color: red;
	
}

footer{
	border-top: 5px solid #F01281;
	background: #0D0D0D;
	width: 2300px ;
	color: white;
	text-align: left;
	clear: both;
	padding: 10px 300px ;
	
}
.ultimo{
	margin-left: 100px;
}
a:hover{
	
	color: white;
	
	-moz-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
-webkit-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
-o-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
-ms-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);

}
.lin{
	color: #B8B8B8;
}








